#backgr {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.test {
  position: relative;
  left: 5%;
  top: 40px;
  max-width: 320px;
  max-height: 320px;
  z-index:9999;
}

.test1 {
  position: relative;
  left: 10%;
  top: 40px;
  max-width: 320px;
  max-height: 320px;
  z-index:9998;
}

.test2 {
  position: relative;
  left: 15%;
  top: 40px;
  max-width: 320px;
  max-height: 320px;
  z-index:9997;
}

.test3 {
  position: relative;
  left: 20%;
  top: 40px;
  max-width: 320px;
  max-height: 320px;
  z-index:9996;
}

.test4 {
  position: relative;
  right: 63%;
  top: 500px;
  max-width: 320px;
  max-height: 320px;
  z-index:9995;
}

.test5 {
  position: relative;
  left: 27%;
  top: 160px;
  max-width: 320px;
  max-height: 320px;
  z-index:9994;
}

.test6 {
  position: relative;
  left: 30%;
  top: 160px;
  max-width: 320px;
  max-height: 320px;
  z-index:9993;
}

.test7 {
  position: relative;
  left: 35%;
  top: 160px;
  max-width: 320px;
  max-height: 320px;
  z-index:9992;
}

img[class="test"]:hover
{
  cursor:pointer;
}

img[class="test1"]:hover
{
  cursor:pointer;
}

img[class="test2"]:hover
{
  cursor:pointer;
}

img[class="test3"]:hover
{
  cursor:pointer;
}

img[class="test4"]:hover
{
  cursor:pointer;
}

img[class="test5"]:hover
{
  cursor:pointer;
}

img[class="test6"]:hover
{
  cursor:pointer;
}

img[class="test7"]:hover
{
  cursor:pointer;
}
