#backgr {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

#test {
  position: fixed;
  padding-top: 50px;
  padding-right: 800px;
  max-width: 40%;
  max-height: 40%;
  z-index:9999;
}

#test1 {
  position: fixed;
  padding-top: 50px;
  padding-right: 600px;
  max-width: 40%;
  max-height: 40%;
  z-index:9998;
}
img[id="test"]:hover
{
  cursor:pointer;
}
  
img[id="test1"]:hover
{
  cursor:pointer;
}
