#backgr {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

#test {
  position: fixed;
  right: 1000;
  bottom: 800;
  max-width: 20%;
  max-height: 20%;
  z-index:9999;
}

img[id="test"]:hover
{
  cursor:pointer;
}
